/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+HU:wght@100..400&display=swap');

:root {
  /* COLORS */
  --accent-color: #1616ca;

  /* MISC */
  --menu-hover-overlay: 0, 0, 0, .05;
  --menu-vertical-line: 0, 0, 0, .17;
}

/* GENERAL STYLE */
body {
  font-family: "Open Sans";
  /* font-weight: 300; */
}

/* LOGIN PAGE */
.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". login-form ."
    ". login-form ."
    ". . .";

  height: 100vh;
}

.login-form {
  grid-area: login-form;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.7fr 1.5fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "login-banner"
    "login-credentials"
    "login-with"; 

  .login-border {
    padding-inline: 1em;
    padding-block: 3em;

    border-width: 1px;
    border-color: #8f8f8f;
  }
}

.login-banner {
  grid-area: login-banner;

  h1 {
    text-align: center;
    font-family: "Playwrite HU";
    font-size: xx-large;
    font-weight: 600;
  }
}

.login-credentials {
  grid-area: login-credentials;

  form {
    align-items: center;
    position: relative;
    max-width: 100%;

    input {
      padding: 5px 10px;
      width: 95%;
      height: 1.4em;

      background: #F2F2FB;
      border: 1px solid #C4D1EB;

      font-size: 18px;
      color: #000000;

      outline: none;
    }

    .submit_button {
      height: 40px;
      width: 100%;

      background-color: var(--accent-color);

      font-size: 1.3em;
      font-weight: 600;
      color: #ffffff;

      border-radius: 10px;
      cursor: pointer;
    }
  }
}

.login-with {
  grid-area: login-with;
}

/* MAIN TEMPLATE */
.container {  
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.7fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navbar content recommendations"
    "navbar content footer";
}

/* MENU */
.navbar { 
  grid-area: navbar; 

  padding-left: 0.5em;
}

.menu {
  padding: 0;
  width: 10.5%;
  position: fixed;
  height: 100%;

  font-size: 0.85em;

  list-style-type: none;
  overflow: auto;
}

.menu > li {
  padding-block: 0.3em;
}

.menu > li > a {
  display: grid;
  grid-template-columns: 0.2fr 1fr; 
  grid-template-rows: 0.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "icon page";

  align-items: center;
  padding-inline: 1em;
  padding-block: 0.6em; 

  color: #000; 

  text-decoration: none;
  transition: 0.3s;
  border-radius: 8px;
}

.menu > li > a:hover .icon > img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

#banner {
  padding-inline: 1em;
  padding-block: 2em;

  a {
    color: black;
    font-family: "Playwrite HU";
    font-weight: 700;
    font-size: 20px;

    text-decoration: none;
  }
}

.icon {
  grid-area: icon;
}

.page {
  grid-area: page;
  margin-inline: 1em;

  span {
    font-weight: 400;
    font-size: 16px;
  }
}

.menu > li > a:hover {
  background-color: rgba(var(--menu-hover-overlay));
}

.icon > img {
  width: 1.7em;
  transition: transform 0.3s ease;
}

.vertical-line {
  position: fixed;
  width: 2px;
  height: 100vh;
  top: 0;
  right: calc(100% - 17%); 

  background-color: rgba(var(--menu-hover-overlay));
}

/* MAIN CONTENT */
.content { 
  grid-area: content;
}

.content > .post {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.3fr 2.6fr 0.6fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "account"
    "image"
    "caption";
}

.content > .post > .account {
  grid-area: account;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "profileImage username"; 

  .user-profile-image {
    grid-area: profileImage;

    img {
      width: 50%;
      float: right;
      padding-inline: 1em;

      clip-path: circle();
    }
  }

  .username {
    grid-area: username;

    padding-block: 1em;

    font-weight: 500;
    font-size: large;
  }
}

/* POSTS DISPLAYED ON THE MAIN PAGE */
.content > .post > .image {
  grid-area: image;

  img {
    width: 85%;
    padding-block: 0.5em;
    padding-inline: 3em;
  }
}

.content > .post > .caption {
  grid-area: caption;

  padding-inline: 3em;

  .intercation > a > img {
    width: 1.5em;
    padding-right: 0.4em;

    cursor: pointer;
    transition: opacity 0.3s ease-in-out,
      color 0.3s ease-in-out;
  }

  .intercation > a > img:hover {
    opacity: 0.3;
  }

  .intercation > .like-counts {
    font-weight: 400;
  }
}

/* USER PROFILE */
.container-profile {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navbar content";

}


.user-profile {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "profile"
    "posts";

  padding-inline: 10em;
}

.profile { 
  grid-area: profile;

  display: grid; 
  grid-template-columns: 0.7fr 1.3fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "profile-image profile-details";
}

.profile-image {
  grid-area: profile-image;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    width: 223px;
    padding-inline: 4em;

    clip-path: circle();
  }
}

.profile-details {
  grid-area: profile-details;
  padding-block: 2em;

  .username {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 1em;

    .name { font-weight: 600; }

    .options { padding-inline: 1.3em;}

    .options > .follow {
      padding: 0.3em 1.2em;

      border: none;
      background-color: #f2f2f2f2;
      border-radius: 10px;
      background-size: 100% 100%;

      cursor: pointer;
      outline: none;
    }

    .options > .follow:hover {
      background-color: #dfddddf2;
    }
  }
  .stats {
    display: flex;
    justify-content: space-between;
    padding-block: 1em;
    width: 45%;
  }
  .bio {
    width: 65%;
  }
}

#posts { 
  grid-area: posts;

}

#posts > .row {
  display: flex;

  width: 100%;
}

#posts > .row > .post {
  width: 30%;
  padding: 10px;

  img {
    width: 100%;
    height: auto;
  }
}

/* POST MODAL */
.post-modal {
  display: grid; 
  grid-template-columns: 1.23fr 0.77fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "post-image post-interaction"; 

  height: 80%;
}

.post-modal > .post-image {
  grid-area: post-image;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    width: 96%;
  }
}

.post-modal > .post-interaction {
  grid-area: post-interaction;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.4fr 2.5fr 0.7fr 0.4fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "user"
    "comments"
    "interactions"
    "add-comment"; 


  .user {
    grid-area: user;
    display: flex;
    align-items: center;
    
    img {
      width: 125px;
      clip-path: circle();
    }

    #modalUsername {
      font-weight: 600;
      padding-inline: 0.4em;
    }
  }

  .comments {
    grid-area: comments;
    margin-block: 1em;
    height: 300px;
    overflow: scroll;
  }

  .comment {
    display: grid; 
    grid-template-columns: 0.2fr 1.8fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "user-image comment-text"; 
    margin-block: 0.5em;

    .user-image {
      grid-area: user-image;

      img {
        width: 60px;
        clip-path: circle();
      }
    }

    .text {
      grid-area: comment-text;
      .username { font-weight: 600;}
    }
  }

  .interactions {
    grid-area: interactions;

    a > img{
      width: 1.7em;
      margin-inline: 0.3em;
    }

    .icons {
      display: flex;
      .icon { margin-inline: 0.3em; }
    }

    .text { padding-inline: 0.5em;}
  }

  .add-comment {
    grid-area: add-comment;
    display: flex;
    justify-content: space-between;

    .input-container {
      position: relative;
      width: 93%;

      .input-field {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: none;
        outline: none;
        background-color: transparent;
      }
    }

    #postButton {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      background-color: transparent;
      border: none;
      color: #b4b4bb;
      font-weight: 600;
      cursor: not-allowed;
    }

    #postButton.enable {
      cursor: pointer;
      color: #3125d4;
    }

    #postButton.enable:hover {
      color: black;
    }
  }
}

.recommendations { grid-area: recommendations; }

.footer { grid-area: footer; }

