@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+HU:wght@100..400&display=swap');
:root {
  --menu-hover-overlay: 0, 0, 0, .05;
  --menu-vertical-line: 0, 0, 0, .17;
  --accent-color: #1616ca;
}

body {
  font-family: "Open Sans";
  /* font-weight: 300; */
}

/* Styles for the login page */
.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". login-form ."
    ". login-form ."
    ". . .";
  height: 100vh;
}

.login-form {
  grid-area: login-form;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.7fr 1.5fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "login-banner"
    "login-credentials"
    "login-with"; 

  .login-border {
    padding-inline: 1em;
    padding-block: 3em;
    border-width: 1px;
    border-color: #8f8f8f;
  }
}

.login-banner {
  grid-area: login-banner;

  h1 {
    text-align: center;
    font-family: "Playwrite HU";
    font-size: xx-large;
    font-weight: 600;
  }
}

.login-credentials {
  grid-area: login-credentials;

  form {
    align-items: center;
    position: relative;
    max-width: 100%;

    input {
      font-size: 18px;
      padding: 5px 10px;
      width: 95%;
      outline: none;
      background: #F2F2FB;
      color: #000000;
      border: 1px solid #C4D1EB;
      height: 1.4em;
    }

    .submit_button {
      background-color: var(--accent-color);
      color: #ffffff;
      font-size: 1.3em;
      font-weight: 600;
      border-radius: 10px;
      cursor: pointer;
      height: 40px;
      width: 100%;
    }
  }
}

.login-with {
  grid-area: login-with;
}

.container {  
  display: grid;
  grid-template-columns: 0.5fr 1.3fr 1.2fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navbar content recommendations"
    "navbar content footer";
}

/* Style for the menu */
.navbar { 
  grid-area: navbar; 
  padding-left: 0.5em;
}

.menu {
  font-size: 0.85em;
  list-style-type: none;
  padding: 0;
  width: 10.5%;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.menu > li {
  padding-block: 0.3em;
}

.menu > li > a {
  display: grid;
  grid-template-columns: 0.2fr 1fr; 
  grid-template-rows: 0.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "icon page";

  color: #000; 
  text-decoration: none;
  transition: 0.3s;
  align-items: center;
  padding-inline: 1em;
  padding-block: 0.6em; 
  border-radius: 8px;
}

.menu > li > a:hover .icon > img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

#banner {
  padding-inline: 1em;
  padding-block: 2em;

  a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: black;
    font-family: "Playwrite HU";
  }
}

.icon {
  grid-area: icon;
}

.page {
  grid-area: page;
  margin-inline: 1em;

  span {
    font-weight: 400;
    font-size: 16px;
  }
}

.menu > li > a:hover {
  background-color: rgba(var(--menu-hover-overlay));
}

.icon > img {
  width: 1.7em;
  transition: transform 0.3s ease;
}

.vertical-line {
  width: 2px;
  height: 100vh;
  background-color: rgba(var(--menu-hover-overlay));
  position: fixed;
  top: 0;
  right: calc(100% - 12.5%); 
}

/* Style for the main content */
.content { 
  grid-area: content;
}

.content > .post {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.3fr 2.6fr 0.6fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "account"
    "image"
    "caption";
}

.content > .post > .account {
  grid-area: account;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "profileImage username"; 

  .user-profile-image {
    grid-area: profileImage;

    img {
      clip-path: circle();
      width: 50%;
      float: right;
      padding-inline: 1em;
    }
  }

  .username {
    grid-area: username;
    padding-block: 1em;
    font-weight: 500;
    font-size: large;
  }
}

.content > .post > .image {
  grid-area: image;

  img {
    width: 85%;
    padding-block: 0.5em;
    padding-inline: 3em;
  }
}

.content > .post > .caption {
  grid-area: caption;
  padding-inline: 3em;

  .intercation > a > img {
    width: 1.5em;
    padding-right: 0.4em;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out,
      color 0.3s ease-in-out;
  }

  .intercation > a > img:hover {
    opacity: 0.3;
  }

  .intercation > .like-counts {
    font-weight: 400;
  }
}
.recommendations { grid-area: recommendations; }

.footer { grid-area: footer; }

